<!DOCTYPE html>
<html>
<head>
	<title>Lorem Cafe Blog App</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<div class="header item">Lorem Cafe Blog</div>
				<a href="/" class="item">Home</a>
				<a href="/blogs/new"class="item">New Post</a>
				<div class="right menu">
				<% if(!currentUser){ %>
					<a href="/login" class="item">Login</a>
					<a href="/register" class="item">Sign Up</a>
				<% } else { %>
					<a href="" class="item">Logged in as 
					<%= currentUser.username %></a>	
					<a href="/logout" class="item">Logout</a>
				<% } %>
				</div>
			</div>				
		</div>
	</div>

	<div class="ui main text container">
		<% if(error && error.length > 0) { %>
			<div class="ui negative message">
	    		<p><%=error%></p>
			</div>
		<% } %>
		<% if(success && success.length >0){ %>
			<div class="ui positive message">
	    		<p><%=success%></p>
			</div>
		<% } %>
	</div>
