*{
	box-sizing: border-box;
}

.container.main{
	margin-top: 4.0em;
}

div.comment:nth-of-type(2){
	background-color: #ffe !important;
}

img{
	max-width: 50vh;
	max-height: 25vh;
	object-fit:cover;
}

textarea{
	margin-bottom: 10px;
}

#margin{
	min-height: 50px;
}

#delete, #edit{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5%;
	display: inline-block;
	width: 40%;

}

.button{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}