.container.main{
	margin-top: 4.0em;
}

img{
	max-width: 50vh;
}

textarea{
	margin-bottom: 10px;
}

#margin{
	min-height: 50px;
}

#delete, #edit{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5%;
	display: inline-block;
	width: 40%;

}

.button{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}